#gallery {
    background-color: red;
    padding: 1px 0px 1px 0px;
    // background: url('/images/all_colors_smear.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#text {
    background-color: rgb(219, 219, 219);
    margin: 10%;
    font-size: 2vw;
    opacity: 75%;
}

h4 {
    margin: 0px;
    padding: 10px;
}

p {
    margin: 20px 20px;
}