body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('/images/photo0.jpeg');
  background-repeat: no-repeat;
  background-color: rgb(216, 216, 216);
}

// .container {
//   background: url('/images/photo0.jpeg');
//   // background-size: 95%;
// }

.outline {
  width: 100%;
  opacity: 90%;
}